set completion-ignore-case On
set bell-style none

"\e[B": history-search-forward
"\e[A": history-search-backward

# Enable magic space in bash: replace !* with space.
$if Bash
  Space: magic-space
$endif

